
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<!-- Apple devices fullscreen -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<!-- Apple devices fullscreen -->
	<meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	
	<title>Điểm Tin Việt Nam Admin Cpanel</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="../content/css_boostrap/bootstrap.min.css">
	<!-- Bootstrap responsive -->
	<link rel="stylesheet" href="../content/css_boostrap/bootstrap-responsive.min.css">
	<!-- jQuery UI -->
	<link rel="stylesheet" href="../content/css_boostrap/plugins/jquery-ui/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="../content/css_boostrap/plugins/jquery-ui/smoothness/jquery.ui.theme.css">
	<!-- PageGuide -->
	<link rel="stylesheet" href="../content/css_boostrap/plugins/pageguide/pageguide.css">
	<!-- Fullcalendar -->
	<link rel="stylesheet" href="../content/css_boostrap/plugins/fullcalendar/fullcalendar.css">
	<link rel="stylesheet" href="../content/css_boostrap/plugins/fullcalendar/fullcalendar.print.css" media="print">
	<!-- chosen -->
	<link rel="stylesheet" href="../content/css_boostrap/plugins/chosen/chosen.css">
	<!-- select2 -->
	<link rel="stylesheet" href="../content/css_boostrap/plugins/select2/select2.css">
	<!-- icheck -->
	<link rel="stylesheet" href="../content/css_boostrap/plugins/icheck/all.css">
	<!-- Theme CSS -->
	<link rel="stylesheet" href="../content/css_boostrap/admin.css">
	<!-- Color CSS -->
	<link rel="stylesheet" href="../content/css_boostrap/themes.css">


	<!-- jQuery -->
	<script src="../content/css_boostrap/js/jquery.min.js"></script>
	
	
	<!-- Nice Scroll -->
	<script src="../content/css_boostrap/js/plugins/nicescroll/jquery.nicescroll.min.js"></script>
	<!-- jQuery UI -->
	<script src="../content/css_boostrap/js/plugins/jquery-ui/jquery.ui.core.min.js"></script>
	<script src="../content/css_boostrap/js/plugins/jquery-ui/jquery.ui.widget.min.js"></script>
	<script src="../content/css_boostrap/js/plugins/jquery-ui/jquery.ui.mouse.min.js"></script>
	<script src="../content/css_boostrap/js/plugins/jquery-ui/jquery.ui.draggable.min.js"></script>
	<script src="../content/css_boostrap/js/plugins/jquery-ui/jquery.ui.resizable.min.js"></script>
	<script src="../content/css_boostrap/js/plugins/jquery-ui/jquery.ui.sortable.min.js"></script>
	<!-- Touch enable for jquery UI -->
	<script src="../content/css_boostrap/js/plugins/touch-punch/jquery.touch-punch.min.js"></script>
	<!-- slimScroll -->
	<script src="../content/css_boostrap/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<!-- Bootstrap -->
	<script src="../content/css_boostrap/js/bootstrap.min.js"></script>
	<!-- vmap -->
	<script src="../content/css_boostrap/js/plugins/vmap/jquery.vmap.min.js"></script>
	<script src="../content/css_boostrap/js/plugins/vmap/jquery.vmap.world.js"></script>
	<script src="../content/css_boostrap/js/plugins/vmap/jquery.vmap.sampledata.js"></script>
	<!-- Bootbox -->
	<script src="../content/css_boostrap/js/plugins/bootbox/jquery.bootbox.js"></script>
	<!-- Flot -->
	<script src="../content/css_boostrap/js/plugins/flot/jquery.flot.min.js"></script>
	<script src="../content/css_boostrap/js/plugins/flot/jquery.flot.bar.order.min.js"></script>
	<script src="../content/css_boostrap/js/plugins/flot/jquery.flot.pie.min.js"></script>
	<script src="../content/css_boostrap/js/plugins/flot/jquery.flot.resize.min.js"></script>
	<!-- imagesLoaded -->
	<script src="../content/css_boostrap/js/plugins/imagesLoaded/jquery.imagesloaded.min.js"></script>
	<!-- PageGuide -->
	<script src="../content/css_boostrap/js/plugins/pageguide/jquery.pageguide.js"></script>
	<!-- FullCalendar -->
	<script src="../content/css_boostrap/js/plugins/fullcalendar/fullcalendar.min.js"></script>
	<!-- Chosen -->
	<script src="../content/css_boostrap/js/plugins/chosen/chosen.jquery.min.js"></script>
	<!-- select2 -->
	<script src="../content/css_boostrap/js/plugins/select2/select2.min.js"></script>
	<!-- icheck -->
	<script src="../content/css_boostrap/js/plugins/icheck/jquery.icheck.min.js"></script>
    <!-- dataTables -->
	<script src="../content/css_boostrap/js/plugins/datatable/jquery.dataTables.min.js"></script>
	<script src="../content/css_boostrap/js/plugins/datatable/TableTools.min.js"></script>
	<script src="../content/css_boostrap/js/plugins/datatable/ColReorder.min.js"></script>
	<script src="../content/css_boostrap/js/plugins/datatable/ColVis.min.js"></script>
	<script src="../content/css_boostrap/js/plugins/datatable/FixedColumns.min.js"></script>
	<script src="../content/css_boostrap/js/plugins/datatable/dataTables.scroller.min.js"></script>
	<!-- Theme framework -->
	<script src="../content/css_boostrap/js/eakroko.min.js"></script>
	<!-- Theme scripts -->
	<script src="../content/css_boostrap/js/application.min.js"></script>
	<!-- Just for demonstration -->
	<script src="../content/css_boostrap/js/demonstration.min.js"></script>
    <!-- fancybox-->
    <script type="text/javascript" src="../Content/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
    <link rel="stylesheet" href="../Content/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
    <script type="text/javascript" src="../Content/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
    <link rel="stylesheet" href="../Content/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
    <script type="text/javascript" src="../Content/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
    <script type="text/javascript" src="../Content/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
    <link rel="stylesheet" href="../Content/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
    <script type="text/javascript" src="../Content/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
	
	<!--[if lte IE 9]>
		<script src="js/plugins/placeholder/jquery.placeholder.min.js"></script>
		<script>
			$(document).ready(function() {
				$('input, textarea').placeholder();
			});
		</script>
	<![endif]-->

	<!-- Favicon -->
	<link rel="shortcut icon" href="../content/css_boostrap/img/favicon.ico" />
	<!-- Apple devices Homescreen icon -->
	<link rel="apple-touch-icon-precomposed" href="../content/css_boostrap/img/apple-touch-icon-precomposed.png" />

</head>

<body>
	<!--start nav-->
	<div id="navigation">
		<div class="container-fluid">
			<a href="#" id="brand">Admin</a>
			<a href="#" class="toggle-nav" rel="tooltip" data-placement="bottom" title="Toggle navigation"><i class="icon-reorder"></i></a>	
			<div class="user">
				<div class="dropdown">
					<a href="#" class='dropdown-toggle' data-toggle="dropdown">Admin <img src="../content/css_boostrap/img/demo/user-avatar.jpg" alt=""></a>
					<ul class="dropdown-menu pull-right">
						<li>
							<a href="#">Đổi mật khẩu</a>
						</li>						
						<li>
							<a href="/Admin/Logout">Thoát</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--end nav-->
	<!--start container-->
	<div class="container-fluid" id="content">
		<!--start nav left-->
		<div id="left">
			<form action="search-results.html" method="GET" class='search-form'>
				<div class="search-pane">
					
				</div>
			</form>
			<div class="subnav">
				<div class="subnav-title">
					<a href="#" class='brand'><span>Trang Chủ</span></a>
				</div>
				<div class="subnav-title">
					<a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span>Tin Tức</span></a>
				</div>
				<ul class="subnav-menu">
                    <li>
						<a href="/News/Index">Viết bài và quản lý bài</a>
                    </li>
					<li>
						<a href="/Admin/Index">Tìm id bài và xóa</a>
                    </li>
                    <li>
						<a href="/Rss/Index">Quản lý Nguồn tin(Rss hoặc Link)</a>
                    </li>
                    <li>
						<a href="/Domain/Index">Quản lý Domain</a>
                    </li>
					<li>
						<a href="/Block/Index">Link không nên crawl</a>
					</li>
                    <li>
						<a href="/User/Index">Quản lý user</a>
                    </li>
				</ul>
			</div>
			
		</div>
		<!--start main content-->
		<div id="main">
			@RenderBody()
		</div></div>
		<!--end container-->
	</body>

	</html>

