@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Lỗi!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1 class="error">Có lỗi xảy ra!</h1>
    <h2 class="error">Trang Web bạn yêu cầu tìm kiếm không tồn tại!</h2>
</hgroup>
