/****** Script for SelectTopNRows command from SSMS  ******/
update [timeline].[dbo].[rss] set domain=(select top 1 A.id from [timeline].[dbo].domain as A left join [timeline].[dbo].rss as B on A.name=B.name where A.name=[timeline].[dbo].[rss].name)