@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}
<div class="jumbotron">
  <h2>Dự án thử nghiệm Điểm tin Việt Nam - Phiên bản thử nghiệm đang chờ giấy phép trang tin tổng hợp</h2>
  <p>- Liên tục cập nhật và xếp hạng tin tức theo nội dung và tính thời sự</p>
  <p>- Bình luận trực tuyến theo các chủ đề</p>  
</div>