@{
    ViewBag.Title = "Tin nóng trong ngày";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <H2>KHÔNG TÌM THẤY TRANG NÀY. Hiện Điểm tin không còn lưu trữ tin này nữa.</H2>
    </div>
</body>
</html>
