@{
    ViewBag.Title = "Tin";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container" id="top-header">
            <div class="col-md-8 padding-0">
                <div class="lagre-img-box">
                    <a href="#" class="lagre-link" title="abc def">
                        <img src="http://l.f31.img.vnecdn.net/2014/07/18/IMG-0760-7179-1405657413_490x294.jpg" class="lagre-img" alt="Anh moi nhat hot nhat">
                        <span class="title-lagre">Hiện trường vụ MH17 nhìn từ vệ tinh</span>
                    </a>
                </div>
            </div>

            <div class="col-md-4 top-news padding-r-0 padding-l-10">
                <ul class="list-top">
                    <li>
                        <a href="#" title="abcgd">
                            <img src="http://m.f1.img.vnecdn.net/2014/07/26/bebe-5042-1406345598.jpg" class="list-top-img" alt="alt images">
                            <span class="list-top-title">
                                Tình mẫu tử thập niên 60 trong bộ ảnh bị thất lạc 
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="abcgd">
                            <img src="http://m.f9.img.vnexpress.net/2014/07/26/DSC0427-JPG-9243-1406341889.jpg" class="list-top-img" alt="alt images">
                            <span class="list-top-title">
                                Kim Hiền rưng rưng nước mắt khi lên xe hoa lần hai
                            </span>
                        </a>
                    </li>

                </ul>

                <div class="clear-fix"></div>
            </div>
    </div>
    <!-- /.container -->

    
    <div class="container" id="main-content">
        <div class="col-md-8 padding-0" id="left-col">
            
            <div class="news-box news-box-left">
                <h3 class="news-box-title">Xã Hội</h3>
                <ul class="list-news-box">
                    <li>
                        <a href="#" class="news-box-link">
                            <img src="http://l.f11.img.vnexpress.net/2014/07/26/HOANG-SON-LYVOPHUHUNG-3-1406309548_660x0.jpg" class="news-box-list-img" alt="blah blah">
                            <span class="news-box-list-item">
                                Giám khảo Bước nhảy Hoàn vũ nhí 'đấu võ miệng' giành thí sinh
                            </span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#" class="news-box-link">
                            <img src="http://m.f29.img.vnecdn.net/2014/07/26/7-3319-1406342211.jpg" class="news-box-list-img" alt="blah blah">
                            <span class="news-box-list-item">
                                Nga lên án Mỹ dùng chiến dịch bôi nhọ
                            </span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#" class="news-box-link">
                            <img src="http://l.f10.img.vnexpress.net/2014/07/26/IMG-3463-1406338326_660x0.jpg" class="news-box-list-img" alt="blah blah">
                            <span class="news-box-list-item">
                                Á hậu Tú Anh diện váy ôm sát khoe vòng ba
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="news-box news-box-right">
                <h3 class="news-box-title">Đời sống</h3>
                <ul class="list-news-box">
                    <li>
                        <a href="#" class="news-box-link">
                            <img src="http://l.f27.img.vnecdn.net/2014/07/23/danghonganhtop-1406112458_490x294.jpg" class="news-box-list-img" alt="blah blah">
                            <span class="news-box-list-item">
                                Biến cố giúp gia đình tôi mạnh mẽ hơn
                            </span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#" class="news-box-link">
                            <img src="http://m.f25.img.vnecdn.net/2014/07/26/dau-0-8325-1406339076.jpg" class="news-box-list-img" alt="blah blah">
                            <span class="news-box-list-item">
                                Giá dầu thô lên cao nhất 2 tuần
                            </span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#" class="news-box-link">
                            <img src="http://m.f9.img.vnexpress.net/2014/07/25/rihanna-6100-1406263269.jpg" class="news-box-list-img" alt="blah blah">
                            <span class="news-box-list-item">
                                Thoát nạn MH17 vì nhường ghế cho người khác
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="news-box news-box-left">
                <h3 class="news-box-title">Xã Hội</h3>
                <ul class="list-news-box">
                    <li>
                        <a href="#" class="news-box-link">
                            <img src="http://l.f11.img.vnexpress.net/2014/07/26/HOANG-SON-LYVOPHUHUNG-3-1406309548_660x0.jpg" class="news-box-list-img" alt="blah blah">
                            <span class="news-box-list-item">
                                Giám khảo Bước nhảy Hoàn vũ nhí 'đấu võ miệng' giành thí sinh
                            </span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#" class="news-box-link">
                            <img src="http://m.f29.img.vnecdn.net/2014/07/26/7-3319-1406342211.jpg" class="news-box-list-img" alt="blah blah">
                            <span class="news-box-list-item">
                                Nga lên án Mỹ dùng chiến dịch bôi nhọ
                            </span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#" class="news-box-link">
                            <img src="http://l.f10.img.vnexpress.net/2014/07/26/IMG-3463-1406338326_660x0.jpg" class="news-box-list-img" alt="blah blah">
                            <span class="news-box-list-item">
                                Á hậu Tú Anh diện váy ôm sát khoe vòng ba
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="news-box news-box-right">
                <h3 class="news-box-title">Đời sống</h3>
                <ul class="list-news-box">
                    <li>
                        <a href="#" class="news-box-link">
                            <img src="http://l.f27.img.vnecdn.net/2014/07/23/danghonganhtop-1406112458_490x294.jpg" class="news-box-list-img" alt="blah blah">
                            <span class="news-box-list-item">
                                Biến cố giúp gia đình tôi mạnh mẽ hơn
                            </span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#" class="news-box-link">
                            <img src="http://m.f25.img.vnecdn.net/2014/07/26/dau-0-8325-1406339076.jpg" class="news-box-list-img" alt="blah blah">
                            <span class="news-box-list-item">
                                Giá dầu thô lên cao nhất 2 tuần
                            </span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#" class="news-box-link">
                            <img src="http://m.f9.img.vnexpress.net/2014/07/25/rihanna-6100-1406263269.jpg" class="news-box-list-img" alt="blah blah">
                            <span class="news-box-list-item">
                                Thoát nạn MH17 vì nhường ghế cho người khác
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="news-box news-box-left">
                <h3 class="news-box-title">Xã Hội</h3>
                <ul class="list-news-box">
                    <li>
                        <a href="#" class="news-box-link">
                            <img src="http://l.f11.img.vnexpress.net/2014/07/26/HOANG-SON-LYVOPHUHUNG-3-1406309548_660x0.jpg" class="news-box-list-img" alt="blah blah">
                            <span class="news-box-list-item">
                                Giám khảo Bước nhảy Hoàn vũ nhí 'đấu võ miệng' giành thí sinh
                            </span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#" class="news-box-link">
                            <img src="http://m.f29.img.vnecdn.net/2014/07/26/7-3319-1406342211.jpg" class="news-box-list-img" alt="blah blah">
                            <span class="news-box-list-item">
                                Nga lên án Mỹ dùng chiến dịch bôi nhọ
                            </span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#" class="news-box-link">
                            <img src="http://l.f10.img.vnexpress.net/2014/07/26/IMG-3463-1406338326_660x0.jpg" class="news-box-list-img" alt="blah blah">
                            <span class="news-box-list-item">
                                Á hậu Tú Anh diện váy ôm sát khoe vòng ba
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="news-box news-box-right">
                <h3 class="news-box-title">Đời sống</h3>
                <ul class="list-news-box">
                    <li>
                        <a href="#" class="news-box-link">
                            <img src="http://l.f27.img.vnecdn.net/2014/07/23/danghonganhtop-1406112458_490x294.jpg" class="news-box-list-img" alt="blah blah">
                            <span class="news-box-list-item">
                                Biến cố giúp gia đình tôi mạnh mẽ hơn
                            </span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#" class="news-box-link">
                            <img src="http://m.f25.img.vnecdn.net/2014/07/26/dau-0-8325-1406339076.jpg" class="news-box-list-img" alt="blah blah">
                            <span class="news-box-list-item">
                                Giá dầu thô lên cao nhất 2 tuần
                            </span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#" class="news-box-link">
                            <img src="http://m.f9.img.vnexpress.net/2014/07/25/rihanna-6100-1406263269.jpg" class="news-box-list-img" alt="blah blah">
                            <span class="news-box-list-item">
                                Thoát nạn MH17 vì nhường ghế cho người khác
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="news-box news-box-left">
                <h3 class="news-box-title">Xã Hội</h3>
                <ul class="list-news-box">
                    <li>
                        <a href="#" class="news-box-link">
                            <img src="http://l.f11.img.vnexpress.net/2014/07/26/HOANG-SON-LYVOPHUHUNG-3-1406309548_660x0.jpg" class="news-box-list-img" alt="blah blah">
                            <span class="news-box-list-item">
                                Giám khảo Bước nhảy Hoàn vũ nhí 'đấu võ miệng' giành thí sinh
                            </span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#" class="news-box-link">
                            <img src="http://m.f29.img.vnecdn.net/2014/07/26/7-3319-1406342211.jpg" class="news-box-list-img" alt="blah blah">
                            <span class="news-box-list-item">
                                Nga lên án Mỹ dùng chiến dịch bôi nhọ
                            </span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#" class="news-box-link">
                            <img src="http://l.f10.img.vnexpress.net/2014/07/26/IMG-3463-1406338326_660x0.jpg" class="news-box-list-img" alt="blah blah">
                            <span class="news-box-list-item">
                                Á hậu Tú Anh diện váy ôm sát khoe vòng ba
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="news-box news-box-right">
                <h3 class="news-box-title">Đời sống</h3>
                <ul class="list-news-box">
                    <li>
                        <a href="#" class="news-box-link">
                            <img src="http://l.f27.img.vnecdn.net/2014/07/23/danghonganhtop-1406112458_490x294.jpg" class="news-box-list-img" alt="blah blah">
                            <span class="news-box-list-item">
                                Biến cố giúp gia đình tôi mạnh mẽ hơn
                            </span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#" class="news-box-link">
                            <img src="http://m.f25.img.vnecdn.net/2014/07/26/dau-0-8325-1406339076.jpg" class="news-box-list-img" alt="blah blah">
                            <span class="news-box-list-item">
                                Giá dầu thô lên cao nhất 2 tuần
                            </span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#" class="news-box-link">
                            <img src="http://m.f9.img.vnexpress.net/2014/07/25/rihanna-6100-1406263269.jpg" class="news-box-list-img" alt="blah blah">
                            <span class="news-box-list-item">
                                Thoát nạn MH17 vì nhường ghế cho người khác
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

        <div class="clear-fix"></div>
        </div>

        <div class="col-md-4 padding-r-0 padding-l-10" id="right-col">
            <div class="list-video">
                <h3 class="list-video-title">Xu hướng đọc</h3>
                <ul class="list-hot-video">
                    <li>
                        <a href="#" title="gia tien">
                            <span class="play-icon"></span>
                            <span class="background-video"></span>
                            <img src="http://c0.f35.img.vnecdn.net/2014/07/25/1-1406280048_660x0.jpg" alt="abc abc" class="hot-video-img">
                            <span class="hot-video-title">Cảnh đẹp</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="gia tien">
                            <span class="play-icon"></span>
                            <span class="background-video"></span>
                            <img src="http://c0.f36.img.vnecdn.net/2014/07/25/2-1406285260_660x0.jpg" alt="abc abc" class="hot-video-img">
                            <span class="hot-video-title">Hiện trường vụ MH17 nhìn từ vệ tinh</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="gia tien">
                            <span class="play-icon"></span>
                            <span class="background-video"></span>
                            <img src="Tin1_files/1-26b5e.jpg" alt="abc abc" class="hot-video-img">
                            <span class="hot-video-title">Hiện trường vụ MH17 nhìn từ vệ tinh</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="gia tien">
                            <span class="play-icon"></span>
                            <span class="background-video"></span>
                            <img src="http://c0.f36.img.vnecdn.net/2014/07/25/3-1406279805_660x0.jpg" alt="abc abc" class="hot-video-img">
                            <span class="hot-video-title">Hiện trường vụ MH17 nhìn từ vệ tinh</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="gia tien">
                            <span class="play-icon"></span>
                            <span class="background-video"></span>
                            <img src="http://c0.f36.img.vnecdn.net/2014/07/25/4-1-Thien-nhien-tuoi-dep-o-mien-bac-Iraq-Marwan-1406280209_660x0.jpg" alt="abc abc" class="hot-video-img">
                            <span class="hot-video-title">Hiện trường vụ MH17 nhìn từ vệ tinh</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="gia tien">
                            <span class="play-icon"></span>
                            <span class="background-video"></span>
                            <img src="http://c0.f36.img.vnecdn.net/2014/07/25/4-1-Thien-nhien-tuoi-dep-o-mien-bac-Iraq-Marwan-1406280209_660x0.jpg" alt="abc abc" class="hot-video-img">
                            <span class="hot-video-title">Hiện trường vụ MH17 nhìn từ vệ tinh</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="gia tien">
                            <span class="play-icon"></span>
                            <span class="background-video"></span>
                            <img src="http://c0.f33.img.vnecdn.net/2014/07/25/6-1406285523_660x0.jpg" alt="abc abc" class="hot-video-img">
                            <span class="hot-video-title">Hiện trường vụ MH17 nhìn từ vệ tinh</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="gia tien">
                            <span class="play-icon"></span>
                            <span class="background-video"></span>
                            <img src="http://c0.f33.img.vnecdn.net/2014/07/25/7-Dau-tich-con-sot-lai-cua-thanh-pho-co-Apamea-Syria-Charles-Roffey-1406280220_660x0.jpg" alt="abc abc" class="hot-video-img">
                            <span class="hot-video-title">Hiện trường vụ MH17 nhìn từ vệ tinh</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="gia tien">
                            <span class="play-icon"></span>
                            <span class="background-video"></span>
                            <img src="http://c0.f36.img.vnecdn.net/2014/07/25/8-1406285659_660x0.jpg" alt="abc abc" class="hot-video-img">
                            <span class="hot-video-title">Hiện trường vụ MH17 nhìn từ vệ tinh</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="gia tien">
                            <span class="play-icon"></span>
                            <span class="background-video"></span>
                            <img src="http://c0.f34.img.vnecdn.net/2014/07/25/9-cong-Go-1406282775_660x0.jpg" alt="abc abc" class="hot-video-img">
                            <span class="hot-video-title">Hiện trường vụ MH17 nhìn từ vệ tinh</span>
                        </a>
                    </li>
                </ul>

            </div>

            <div class="clear-fix"></div>
        </div>

    </div>
    <script src="/Content/new/jquery.js"></script>
    <script src="/Content/new/bootstrap.js"></script>

    <script>

    $(document).ready(function(){
        $("button.button-top-menu").click(function(){

            var obj = $(this);

            if (obj.hasClass("active")) {
                $(this).removeClass("active");
                $("ul.nav.navbar-nav").removeClass("active");
            }else{
                $(this).addClass("active");
                $("ul.nav.navbar-nav").addClass("active");
            }

            
        });
    });
    </script>
